.cms-footer {
	padding: 3rem 0 2rem 0;
	margin-top: 5rem;
	background-color: #2d3e50;
	color: #fff !important;
}

.cms-icon {
	width: 3.4rem;
	border: 1px solid #e5e5e5;
	padding: 0.5rem;
	color: #fff;
}

.cms-footer a {
	color: #fff;
}

.cms-text-center {
	color: #7f8c8d;
	text-align: center;
}

.am-container {
	max-width: 1200px;
}

.am-g-fixed {
	max-width: 1200px;
}

.am-article {
	padding: 30px 0;
}

.am-panel-group {
	padding-top: 20px;
}

.am-dropdown-search {
	min-width: 560px;
}

.admin-content-body {
	height: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

.am-channel-date {
	color: #999;
	float: right;
	/* top: -1.8rem; */
	position: absolute;
	right: 5px;
	font-size: 1.3rem;
}

.am-gotop-fixed {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1010;
	opacity: 0;
	width: 48px;
	min-height: 48px;
	overflow: hidden;
	border-radius: 0;
	text-align: center;
}
.am-panel>.am-list>li>a {
	padding-left: 1rem;
	padding-right: 1rem;
	word-wrap: break-word;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#topicList > li > a > h2 {
	font-size: 1.5em;
	margin: 5px 0 0.5rem 0;
}