*{
	margin:0px;
	padding:0px;
}
tr.addAtt {
	background:#621;
	color:#fff;
}
#container {
	width:1034px;
	position:absolute;
	left:50%;
	margin-left:-517px;
	border:1px solid #999;
}
*{
	margin:0px;
	padding:0px;
}
*.errorContainer {
	color:#f00;
	font-weight:bolder;
	padding:0px 4px;
}
/*--------------------------top begin------------------------------------------*/
#top {
	width:1035px;
	height:110px;
}
#topIntro {
	height:80px;
	background:url("img/top_bg.jpg") repeat-x;
}
#logo {
	width:433px;
	height:63px;
	display:block;
	background:url("img/top_logo.jpg") no-repeat;
	position:relative;
	left:20px;
	top:7px;
	float:left;
}
#user_operator {
	font-size:12px;
	position:relative;
	top:15px;
	float:right;
	right:15px;
	color:#fff;
}
#user_operator a:link,#user_operator a:visited {
	color:#fff;
	text-decoration:none;
}
#user_operator a:hover {
	color:#ff0;
	text-decoration:underline;
}
#remind{
	height:28px;
	background:url("img/top_remind_bg.jpg") repeat-x;
	border-top:1px solid #fff;
	border-bottom:1px solid #737373;
}
#remind #showDate{
	font-size:12px;
	color:#233d4e;
	position:relative;
	top:6px;
	margin-left:15px;
	width:500px;
}
/*--------------------------top end------------------------------------------*/

/*--------------------------left begin --------------------------------------*/
#left {
	width:164px;
	font-size:12px;
	/*border-right:1px solid #555;*/
}

ul h3.navTitle,#contents h3 {
	height:28px;
	background:url("img/nav_title_bg.jpg") repeat-x;
	border-top:1px solid #7da2bf;
	border-bottom:1px solid #1d486a;
	color:#fff;
	font-weight:normal;
	font-size:12px;
}
ul.navSelected span.navTilteTxt {
	position:relative;
	left:20px;
	top:7px;
	background:url("img/nav_title_icon_selected.jpg") no-repeat;
	padding-left:20px;
}
ul span.navTilteTxt {
	position:relative;
	left:20px;
	top:7px;
	background:url("img/nav_title_icon.jpg") no-repeat;
	padding-left:20px;
}
ul li.navChild {
	margin:8px 0px;
	margin-left:20px;
	list-style:none;
	background:url("img/nav_child_icon.jpg") no-repeat;
	background-position:0 50%;
}
ul li.navChild a:link,ul li.navChild a:visited {
	margin-left:20px;
	text-decoration:none;
	color:#4d5255;
}
ul li.navChild a:hover {
	text-decoration:underline;
	color:#f00;
}
/*--------------------------left begin --------------------------------------*/

/*--------------------------content begin -----------------------------------*/
#contents {
	border-left:3px solid #aaa;
}

h3.admin_link_bar span {
	position:relative;
	right:15px;
	top:7px;
}
h3.admin_link_bar span a {
	margin:0 5px;
}

#contents h1 {
	position:relative;
	width:300px;
	left:300px;
	top:140px;
}

#addTable {
	margin-top:15px;
	margin-left:30px;
	font-size:12px;
	border-top:1px solid #999;
	border-left:1px solid #999;
	padding:0px;
}


#addTable tr td {
	padding:6px;
	border-right:1px solid #999;
	border-bottom:1px solid #999;

}

#addTable thead td{
	background:#336d9b;
	color:#fff;
	margin:0px;
}

/*--------------------------content end   -----------------------------------*/
/*
*/
#spliceBar{
	height:28px;
	background:url("img/top_remind_bg.jpg") repeat-x;
	border:1px solid #737373;
	width:1033px;
}

#copyright {
	text-align:center;
	font-size:12px;
	margin-top:5px;
}

a.admin_link:link,a.admin_link:visited {
	color:#fff;
	text-decoration:none;
}
a.admin_link:hover {
	color:#ff0;
	text-decoration: underline;
}
h3.admin_link_bar span {
	float:right;
}

td.leftTd {
	text-align:left;
}
td.rightTd {
	text-align:right;
}
td.centerTd {
	text-align:center;
}

span.emp {
	color:#f00;
}

a.list_op:link,a.list_op:visited {
	background:#921;
	padding:4px;
	color:#fff;
	text-decoration:none;
}
a.list_op:hover {
	background:#971;
}
a.list_link:link,a.list_link:visited {
	color:#932;
	text-decoration: none;
}
a.list_link:hover{
	color:#239;
	text-decoration: underline;
}
