*{
	margin:0px;
	padding:0px;
}
#container {
	width:1034px;
	position:absolute;
	left:50%;
	margin-left:-517px;
	border:1px solid #999;
}
#top {
	width:1034px;
	height:81px;
	background:url("img/login_top.jpg") no-repeat;
}

#loginBar {
	width:1034px;
	height:30px;
	background:url("img/login_bar.jpg") no-repeat;
	font-size:12px;
	color:#0d314d;
}
#loginBar span {
	position:relative;
	top:8px;
	left:10px;
}
#content {
	width:1034px;
	height:568px;
	background:url("img/admin_login_error_bg.jpg") no-repeat;
	font-size:12px;
}

#error {
	position: relative;
	top:210px;
	text-align: center;
}

#error span {
	font-weight: bold;
}

*.errorContainer {
	color:#f00;
	padding:0px 4px;
}