/* Write your styles */
/*------------ ×Ô¶¨Òå Tooltip ------------ */
/* #vld-tooltip {
	position: absolute;
	z-index: 1000;
	padding: 5px 10px;
	background: #F37B1D;
	min-width: 150px;
	color: #fff;
	transition: all 0.15s;
	box-shadow: 0 0 5px rgba(0, 0, 0, .15);
	display: none;
}

#vld-tooltip:before {
	position: absolute;
	top: -8px;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -8px;
	content: "";
	border-width: 0 8px 8px;
	border-color: transparent transparent #F37B1D;
	border-style: none inset solid;
} */